# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environments
venv/
env/
.env/
.venv/

# Django
db.sqlite3
staticfiles/
*.log

# Environment variables
.env
.env.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db
